<gallery>


     <settings>






          <thumbnail>


               <alpha>63</alpha>
               <width>150</width>
               <height>110</height>
          </thumbnail>
          <background>

               <bgColor>16777215</bgColor>
               <transparentBG>1</transparentBG>
          </background>
          <thumbCaption>





               <fontName>Arial</fontName>
               <bgColor>3355443</bgColor>
               <fontSize>9</fontSize>
               <visibleMode>never</visibleMode>
               <color>16777215</color>
               <bgAlpha>70</bgAlpha>
          </thumbCaption>
          <imageCaption>






               <fontName>Arial</fontName>
               <bgColor>0</bgColor>
               <fontSize>11</fontSize>
               <visibleMode>always</visibleMode>
               <color>16777215</color>
               <position>top</position>
               <bgAlpha>30</bgAlpha>
          </imageCaption>
          <colorScheme>




               <imageBGColor>13408767</imageBGColor>
               <thumbsFrameColor>16777215</thumbsFrameColor>
               <thumbsArrowsColor>16724940</thumbsArrowsColor>
               <imageArrowsColor>13395660</imageArrowsColor>
               <useShadow>1</useShadow>
          </colorScheme>
          <image>
               <scaleMode>noScale</scaleMode>
          </image>
     </settings>
     <items>
          <item>




               <thumb>gallery/images/t1.jpg</thumb>
               <source>gallery/images/1.jpg</source>
          </item>
          <item>




               <thumb>gallery/images/t2.jpg</thumb>
               <source>gallery/images/2.jpg</source>
          </item>
          <item>




               <thumb>gallery/images/t3.jpg</thumb>
               <source>gallery/images/3.jpg</source>
          </item>
          <item>




               <thumb>gallery/images/t4.jpg</thumb>
               <source>gallery/images/4.jpg</source>
          </item>
          <item>




               <thumb>gallery/images/t5.jpg</thumb>
               <source>gallery/images/5.jpg</source>
          </item>
          <item>




               <thumb>gallery/images/t6.jpg</thumb>
               <source>gallery/images/6.jpg</source>
          </item>
          <item>




               <thumb>gallery/images/t7.jpg</thumb>
               <source>gallery/images/7.jpg</source>
          </item>
          <item>




               <thumb>gallery/images/t8.jpg</thumb>
               <source>gallery/images/8.jpg</source>
          </item>
          <item>




               <thumb>gallery/images/t9.jpg</thumb>
               <source>gallery/images/9.jpg</source>
          </item>
          <item>




               <thumb>gallery/images/t10.jpg</thumb>
               <source>gallery/images/10.jpg</source>
          </item>
          <item>




               <thumb>gallery/images/t11.jpg</thumb>
               <source>gallery/images/11.jpg</source>
          </item>
          <item>




               <thumb>gallery/images/t12.jpg</thumb>
               <source>gallery/images/12.jpg</source>
          </item>
     </items>
     <galleryName>Box Gallery</galleryName>
</gallery>
